hr
div#demo1.row.show-grid
	div.span4
		h3 The grid system is
		img(src="http://placehold.it/200x200&text=span4")
	div.span4
		h3 Twelve columns
		img(src="http://placehold.it/200x200&text=span4")
	div.span4
		h3 of various lengths
		img(src="http://placehold.it/200x200&text=span4")
