hr
div#demo3.row
	div.span12 
		h1 You can nest columns and sections easily.
		
		div.row.show-grid
			div.span2
				img(src="http://placehold.it/200x200&text=span2")
			div.span2
				img(src="http://placehold.it/200x200&text=span2")
			div.span8
				img(src="http://placehold.it/800x200&text=span8")
