script(src="http://code.jquery.com/jquery-1.7.min.js")
script(src="public/javascripts/bootstrap-transition.js")
script(src="public/javascripts/bootstrap-dropdown.js")
script(src="public/javascripts/bootstrap-tab.js")
script(src="public/javascripts/bootstrap-scrollspy.js")
script(src="public/javascripts/bootstrap-tooltip.js")
script(src="public/javascripts/bootstrap-collapse.js")
script(src="public/javascripts/bootstrap-typeahead.js")
script(src="public/javascripts/prettify.js")
script(src="init.js")
script
	$(document).ready( function() {
		$(".collapse").collapse();
	});