!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset="utf-8")
		title Normative Demo (bootstrap)
		meta(name="description", content="")
		meta(name="author", content="")

		link(href="public/stylesheets/bootstrap.css", rel="stylesheet")
		link(href="public/stylesheets/responsive.css", rel="stylesheet")
		link(href="public/stylesheets/style.css", rel="stylesheet")
		link(href="public/stylesheets/prettify.css", type="text/css" rel="stylesheet")
		style(type="text/css")
			body {
				padding-top: 60px;
				}

			.show-grid > div {
				background: rgba(0,0,0,0.3);
			}

			.tab-pane {
				height: 300px;
			}

		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="width=device-width; initial-scale=1.0; user-scalable=0;")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
	
	body!= body