div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			div.nav-collapse
					a.brand(href="#body") Fun fun Bootstrap demo
					ul.nav.pull-right
						li
							a(href="#demo1") Demo1
						li
							a(href="#demo2") Demo2
						li
							a(href="#demo3") Demo3
						li
							a(href="#demo4") Demo4
						li
							a(href="#demo5") Demo5
						li.dropdown
							a.dropdown-toggle(href="#",data-toggle="dropdownDropdown") 
								
							ul.dropdown-menu
								li
									a(href="http://normative.com")Normative.com
								li 
									a(href="http://readywater.ca") Readywater.ca
								li.divider
								li
									a Divided item

					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar